/*清除浮动*/
.clearfix:after{
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }
.clearfix {
  /* 触发 hasLayout */
  zoom: 1;
  }
.newsHeader{
	background-color: #ff6600;
	height: 20px;
	padding: 2px;
	overflow: hidden;
}
.newsHeader-logo,.newsHeader-title,.newsHeader-nav{
	float:left;
}
.newsHeader-logo img{
	border: 1px solid #fff;
}
.newsHeader-title a{
	padding-left: 3px;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	line-height: 20px;
	height: 20px;
}
.newsHeader-nav{
	padding-left: 6px;
	line-height: 20px;
	height: 20px;
}
.newsHeader-nav a{
	text-decoration:none;
	color: #000;
}
.newsHeader-navLink:not(:first-child)::before{
	content: " | ";
}
.newsHeader-login{
	float: right;
	height:20px;
	line-height: 20px;
	padding-right: 5px;
}
.newsHeader-loginLink{
	text-decoration:none;
	color: #000;
}
