<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Koa register</title>
    <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>
    <form id="register_form" class="form-signin" method="POST" action="/register">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">用户注册页面</h1>
      </div>
      <div class="form-label-group">
        <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email" required autofocus>
        <label for="inputEmail">邮箱</label>
      </div>
      <div class="form-label-group">
        <input type="text" name="userName" id="inputUsername" class="form-control" placeholder="Username" required>
        <label for="inputUsername">用户名</label>
      </div>
      <div class="form-label-group">
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword">密码</label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
      <div class="message">
        <p>已有账号? <a href="/login">点击登录</a>.</p>
      </div>
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2019-2020</p>
    </form>
  </body>
  <script src="/jquery/dist/jquery.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.js"></script>
  <script>
    $('#register_form').on('submit', function (e) {
      e.preventDefault();
      var formData = $(this).serialize();
      $.ajax({
        url: '/register',
        type: 'post',
        data: formData,
        dataType: 'json',
        success: function (data) {
            var code = data.code;
            if (code === 200) {
                window.alert('注册用户成功');
                window.location.href = '/login';
            } else if (code === -1) {
                window.alert('邮箱或者密码错误');
            } else if (code === 500) {
                window.alert('服务器忙，请稍后重试！');
            }
        }
      });
    })
  </script>
</html>