#main{
	width: 520px;
	margin: 0 auto;
	text-align: center;
}
#select1 img,#select2 img{
	cursor: pointer;
      	border: none;
       width: 167px;
       height: 133px;
}
#select3 img{
    width:148px;
    height134px;
    cursor: pointer;
     border: none;
}
#result{
	margin-top: 30px;
	text-align: center;
}
#result #mine,#result #cpt{
	display: inline-block;
	width: 167px;
	height: 133px;
	border: 1px solid #888;
}
#count{
	margin-top: 30px;
}
