#main{
	width: 520px;
	margin: 0 auto;
	text-align: center;
}
#select1,#select2,#select3{
	cursor: pointer;
      	border: none;
       width: 167px;
       height: 133px;
}
#result{
	margin-top: 30px;
	text-align: center;
}
#mine,#cpt{
	display: inline-block;
	width: 167px;
	height: 133px;
	border: 1px solid #888;
}
#count{
	margin-top: 30px;
}
