// body {
//     background-color: aquamarine;
// }
// div {
//     width: 600px;
//     height:600px;
//     background-color: bisque;
//     color: rgb(255, 0, 200);
//     border-radius: 30px;
//     box-shadow: 10px;
// }

.codemirror-min .ReactCodeMirror .CodeMirror {
    width: 600px;
    height: 200px;
}

.codemirror-mid {
width: 800px;
height: 300px;
font-size: 14px;
}