<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>图片上传demo</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <input type="file" id="img-upload">
    <button id="submit-button">开始上传</button>
    <script>
        $('#submit-button').on('click', () => {
            console.log($);
            var myPhoto = $('#img-upload')[0].files[0];
            var oMyForm = new FormData();
            oMyForm.append("name", 'liujie');
            oMyForm.append("userfile", myPhoto);
            $.ajax({
                type : 'POST',
                url : '/imgUpload',
                cache : false,  //不需要缓存
                processData : false, //不需要进行数据转换
                contentType : false, //默认数据传输方式是application,改为false，编程multipart
                data : oMyForm,
                dataType : 'json'
            }).done((data) => {
                console.log(data);
                alert(data.errMsg);
            }).fail((err) => {
                console.error(err);
            });
        });
    </script>
</body>
</html>