/*less匹配模式*/
.box {
  border-width: 20px;
  border-color: transparent transparent green transparent;
  border-style: dashed dashed solid dashed;
}
.box2 {
  border-width: 30px;
  border-color: transparent red transparent transparent;
  border-style: dashed solid dashed dashed;
}
