/*嵌套规则*/
.list {
  width: 600px;
  margin: 30px auto;
  padding: 0;
  list-style: none;
}
.list li {
  height: 30px;
  line-height: 30px;
  margin-bottom: 5px;
  background-color: aqua;
  padding: 0 10px;
}
.list a {
  float: left;
}
.list a:hover {
  color: darkcyan;
}
.list span {
  float: right;
}
