div {
    width: 1000px;
    height: 300px;
    border: 1px solid rosybrown;
    margin-bottom: 10px;
}
.box1 {
    background: url(../assets/images/mysql-concat.png) no-repeat;
}
.box2 {
    background: url(../assets/images/mysql-save.png) no-repeat;
}
.box3 {
    background: url(../assets/images/test.jpg) no-repeat;
}