*{
    margin: 0;
    padding:0;
}
body{
    background-color: #fff;
    color:#555;
    font-family: '微软雅黑';
    font-size: 14px;
}
.wrap{
    width:100%;
    height:600px;
    position:absolute;
    top:50%;
    margin-top: -300px;
    background-color: #333;
    overflow:hidden;
    -webkit-perspective:800px;
        -moz-perspective:800px;
          -ms-perspective:800px;
             -o-perspective:800px;
                  perspective:800px;
}
/*海报样式*/
.photo{
    width:260px;
    height:320px;
    position:absolute;
    z-index: 1;
    left:50%;
    top:50%;
    margin:-160px 0 0 -130px;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.01);
        -moz-box-shadow: 0 0 1px rgba(0,0,0,.01);
          -ms-box-shadow: 0 0 1px rgba(0,0,0,.01);
             -o-box-shadow: 0 0 1px rgba(0,0,0,.01);
                  box-shadow: 0 0 1px rgba(0,0,0,.01);
    -webkit-transition:all .6s;
        -moz-transition:all .6s;
          -ms-transition:all .6s;
             -o-transition:all .6s;
                  transition:all .6s;
}
.photo .side{
    width:100%;
    height:100%;
    background-color: #eee;
    position:absolute;
    top:0;
    right:0;
    padding:20px;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
             -o-box-sizing: border-box;
                  box-sizing: border-box;
}
.photo .side-front .image{
    width:100%;
    height:250px;
    line-height: 250px;
    overflow:hidden;
}
.photo .side-front .image img{
    width:100%;
}
.photo .side-front .caption{
    text-align: center;
    font-size: 16px;
    line-height: 50px;
}
.photo .side-back{
    color:#666;
    font-size: 14px;
    line-height: 1.5em;
}
/*当前选中的海报样式*/
.photo_center{
    width:260px;
    height:320px;
    left:50%;
    top:50%;
    margin:-160px 0 0 -130px;
    z-index: 999;
}
/*负责翻转*/
.photo-wrap{
    position:absolute;
    width:100%;
    height:100%;
    -webkit-transition:all .6s;
        -moz-transition:all .6s;
          -ms-transition:all .6s;
             -o-transition:all .6s;
                  transition:all .6s;
    -webkit-transform-style:preserve-3d;
        -moz-transform-style:preserve-3d;
          -ms-transform-style:preserve-3d;
             -o-transform-style:preserve-3d;
                  transform-style:preserve-3d;
    -webkit-transform-origin: 0% 50% 0px;
        -moz-transform-origin: 0% 50% 0px;
          -ms-transform-origin: 0% 50% 0px;
             -o-transform-origin: 0% 50% 0px;
                  transform-origin: 0% 50% 0px;
}
.photo-wrap .side-front{
    -webkit-transform:rotateY(0deg);
        -moz-transform:rotateY(0deg);
          -ms-transform:rotateY(0deg);
             -o-transform:rotateY(0deg);
                  transform:rotateY(0deg);
}
.photo-wrap .side-back{
    -webkit-transform:rotateY(180deg);
        -moz-transform:rotateY(180deg);
          -ms-transform:rotateY(180deg);
             -o-transform:rotateY(180deg);
                  transform:rotateY(180deg);
}
.photo-wrap .side{
    -webkit-backface-visibility:hidden;
        -moz-backface-visibility:hidden;
          -ms-backface-visibility:hidden;
             -o-backface-visibility:hidden;
                  backface-visibility:hidden;
}
.photo_front .photo-wrap{
    -webkit-transform: translate(0px, 0px) rotateY(0deg);
        -moz-transform: translate(0px, 0px) rotateY(0deg);
             -o-transform: translate(0px, 0px) rotateY(0deg);
          -ms-transform: translate(0px, 0px) rotateY(0deg);
                  transform: translate(0px, 0px) rotateY(0deg);
}
.photo_back .photo-wrap{
    -webkit-transform: translate(260px, 0px) rotateY(180deg);
        -moz-transform: translate(260px, 0px) rotateY(180deg);
             -o-transform: translate(260px, 0px) rotateY(180deg);
           -ms-transform: translate(260px, 0px) rotateY(180deg);
                   transform: translate(260px, 0px) rotateY(180deg);
}
/* 控制按钮样式 */
     .nav{
                position: absolute;
                width: 80%;
                left: 10%;
                height: 30px;
                line-height: 30px;
                bottom: 20px;
                z-index: 999;
                text-align: center;
            }
            /* 普通样式 */
            .nav .i{
                display: inline-block;
                width: 30px;
                height: 30px;
                cursor: pointer;
                background-color: #aaa;
                text-align: center;
                -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                      -ms-border-radius: 50%;
                         -o-border-radius: 50%;
                              border-radius: 50%;
                -webkit-transform: scale(.5);
                    -moz-transform: scale(.5);
                         -o-transform: scale(.5);
                       -ms-transform: scale(.5);
                               transform: scale(.5);
                -webkit-transition: all .5s;
                    -moz-transition: all .5s;
                      -ms-transition: all .5s;
                         -o-transition: all .5s;
                              transition: all .5s;
            }
            .nav .i:after{
                content: '翻';
                font-weight: bold;
                display: inline-block;
                line-height: 30px;
                text-align: center;
                color:red;
                opacity: 0;
            }
            /* 选中样式 */
            .nav .i_current{
                -webkit-transform: scale(1);
                    -moz-transform: scale(1);
                         -o-transform: scale(1);
                       -ms-transform: scale(1);
                               transform: scale(1);
            }
            .nav .i_current:after{
                opacity: 1;
            }
            /* 背面样式 */
            .nav .i_back{
                background-color: #555;
                -webkit-transform: rotateY(180deg);
                    -moz-transform: rotateY(180deg);
                         -o-transform: rotateY(180deg);
                       -ms-transform: rotateY(180deg);
                               transform: rotateY(180deg);
            }
