{
  "extends": "airbnb",
  "ecmaFeatures": {
      "jsx": true,
      "modules": true
  },
  "env": {
      "browser": true,
      "node": true,
      "es6": true
  },
  "parser": "babel-eslint",
  "rules": {
      "strict": 0,
      "no-undef": 0,
      "valid-jsdoc": 1,
      "react/jsx-uses-react": 1,
      "react/jsx-uses-vars": 1,
      "react/react-in-jsx-scope": 1,
      "react/jsx-closing-tag-location": 0,
      "react/jsx-curly-brace-presence": 1,
      "react/no-multi-comp": 0,
      "react/jsx-key": 1,
      "prefer-destructuring": 0,
      "jsx-quotes": 1,
      "no-class-assign": 0,
      "no-unused-vars": 1,
      "no-empty": 1,
      "no-console": 1,
      "keyword-spacing": 1,
      "no-multi-spaces": 1,
      "indent": [0, 4],
      "comma-dangle": 0,
      "class-methods-use-this": 0,
      "no-restricted-syntax": 0,
      "prefer-template": 0,
      "object-shorthand": 0,
      "brace-style": 0,
      "no-shadow": 0,
      "react/jsx-indent": 0,
      "jsx-a11y/anchor-is-valid": 0,
      "react/jsx-indent-props": 0,
      "max-len": 0,
      "object-curly-newline": 0,
      "react/self-closing-comp": 0,
      "jsx-a11y/iframe-has-title": 0,
      "func-names": 0,
      "no-unneeded-ternary": 0,
      "arrow-body-style": 0,
      "react/no-array-index-key": 0,
      "import/no-extraneous-dependencies": 0,
      "react/prop-types": 0,
      "camelcase": 1,
      "react/jsx-closing-bracket-location": 0,
      "function-paren-newline": 0,
      "no-trailing-spaces": 0,
      "eol-last": 0,
      "no-tabs": 0,
      "no-bitwise": 0,
      "jsx-a11y/label-has-for": 0,
      "react/prefer-stateless-function": 0,
      "no-useless-constructor": 0,
      "consistent-return": 0,
      "no-else-return": 0,
      "import/prefer-default-export": 0,
      "jsx-a11y/mouse-events-have-key-events": 0,
      "jsx-a11y/click-events-have-key-events": 0,
      "jsx-a11y/no-static-element-interactions": 0,
      "global-require": 0,
      "linebreak-style": 0,
      "prefer-const": 1,
      "no-continue": 0,
      "no-param-reassign": 0
  },
  "plugins": [
      "react",
      "jsx-a11y"
  ]
}