<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToList 组件拆分</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="root">
        <div>
            <input v-model="inputValue" />
            <button @click="addTodoItem">提交</butto>
        </div>
        <ul>
            <todo-item
                v-for="(item, index) of list"
                :key="index"
                :content="item"
            >
            </todo-item>
        </ul>
    </div>
    <script>
        // Vue.component定义的组件是全局组件
        Vue.component('todo-item', {
            props: ['content'],
            template: '<li>{{content}}</li>'
        })
        // 局部组件
        // var TodoItem = {
        //     template: '<li>item11</li>'
        // }
        new Vue({
            el: '#root',
            // 局部组件需要通过components注册才能使用
            // components: {
            //    'todo-item': TodoItem
            // },
            data: {
                inputValue: 'todo',
                list: []
            },
            methods: {
                addTodoItem: function() {
                    this.list.push(this.inputValue);
                    this.inputValue = '';
                }
            }
        })
    </script>
</body>
</html>